@charset "utf-8";
article-xiaoshuo { width: 1200px; float: left;font:16px;}
article-xiaoshuo ul li{text-align:center;height:50px;line-height:50px; margin:auto auto; border-bottom:1px solid #a88462;font: 16px ;background-color: rgb(245, 241, 231);)